body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1640D6;
    color: white;
    text-align: center;
    padding: 1em;
}

nav{
    background-color: #eee;
    padding: 1em;

}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    margin-right: 10px;
}

section{
    margin-left: 10px;
}
#foto{
    margin-top: 20px;
}

img{
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
    margin: 0 auto;
}

h1,h2{
    color: #333;
}

#foto h4{
    text-align: center;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #1640D6;
    color: white;
    text-align: center;
    padding: 1em;
}